* {
  margin: 10px;
  padding: 0;
}
.html {
  font-size: 20px;
}

.header-line {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 20%);
  grid-column-gap: 10%;
  padding-top: 10px;
}

.header-logo {
  width: 100%;
}

.nav {
  display: grid;
  margin: 0 40px;
  grid-template-columns: repeat(5, 200px);
  margin-top: 25px;
}

.nav1 {
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.7em;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
}

.item-1 {
  /* Home */
  text-decoration: none;
  width: 20%;
  height: 27px;
  color: rgb(31, 31, 31);
}

.item-2 {
  /* Services */
  text-decoration: none;
  width: 20%;
  height: 27px;
}

.item-3 {
  /* Contact */
  width: 20%;
  height: 27px;
  text-decoration: none;
}

.item-4 {
  /* Support */
  width: 20%;
  height: 27px;
  text-decoration: none;
}

.button-sign {
  margin-top: -10px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-family: Inter;
  background: rgb(31, 31, 31);
  font-size: 1.3em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.first-block {
  display: grid;
  padding-top: 100px;
  width: 100%;
  grid-template-columns: 25% 20%;
  grid-template-rows: 190px 190px 190px 300px;
  grid-column-gap: 500px;
  row-gap: 40px;
}

.name-block {
  /* Header */
  width: 20%;
  white-space: nowrap;
  height: 161px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 6em;
  font-weight: 500;
  line-height: 161px;
  letter-spacing: 0%;
  text-align: left;
}

.img-2 {
  background-image: url(assets/img/Image\ 1.png);
  width: 100%;
  height: 43vh;
  grid-row-start: 1;
  grid-column-start: 2;
  object-fit: cover;
}

.interior {
  /* Sub-heading */
  width: 73%;
  height: 168px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: -40px;
}

.img-1 {
  background-image: url(assets/img/Image\ 2.png);
  width: 100%;
  height: 41vh;
  grid-row-start: 3;
  grid-column-start: 2;
  margin-left: -200px;
  object-fit: cover;
}

.button-start {
  margin-top: 7vh;
  width: 80%;
  height: 86px;
  grid-row-start: 3;
  grid-column-start: 1;
  border-radius: 4px;
  background: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.text {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  grid-template-rows: 55px;
  column-gap: 99px;
  margin-top: 500px;
  margin-left: -960px;
}

.p {
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0%;
  text-align: center;
}

.par400 {
  /* Project Complete */
  width: 18vh;
  height: 116px;
}

.plus4 {
  width: 18vh;
  height: 116px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 5em;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: center;
}

.par600 {
  /* Satisfied Clients */
  width: 17.8vh;
  height: 116px;
  margin: 10px;
}

.plus6 {
  width: 18vh;
  height: 116px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 5em;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: center;
}

.par100 {
  /* Unique Styles */
  width: 16.7vh;
  height: 116px;
}

.plus10 {
  width: 18vh;
  height: 116px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 5em;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: center;
}

.second-block {
  display: grid;
  padding-top: 10px;
  margin-left: 3vh;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: repeat(2, 55px);
  column-gap: 40px;
  row-gap: 30px;
}

.line {
  background-image: url(assets/img/Line\ 1.png);
  grid-row-start: 2;
  grid-column-start: 1;
  margin-top: 3vh;
  width: 6vh;
  height: 0;
  border: 3px solid rgb(31, 31, 31);
}

.services {
  /* Our Services */
  grid-row-start: 2;
  grid-column-start: 1;
  margin-left: 160px;
  width: 36.2vh;
  height: 70px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  white-space: nowrap;
}

.icons {
  width: 15%;
  height: 70px;
}

.lighting {
  /* Lighting design icon */
  grid-row-start: 6;
  grid-column-start: 1;
}

.design {
  /* Lighting Design */
  grid-row-start: 6;
  grid-column-start: 1;
  margin-left: 10vh;
  width: 25%;
  white-space: nowrap;
  height: 36px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 2em;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.achieve {
  /* Achieve the perfect balance of ambient, task, and accent lighting for a functional atmosphere */
  grid-row-start: 7;
  grid-column-start: 1;
  width: 36vh;
  height: 108px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}

.interior-2 {
  /* Interior design icon */
  grid-row-start: 6;
  grid-column-start: 2;
}

.design-2 {
  /* Interior Design */
  grid-row-start: 6;
  grid-column-start: 2;
  margin-left: 100px;
  width: 25%;
  white-space: nowrap;
  height: 36px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 2em;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.concept {
  /* From concept to completion, we oversee every detail to bring your vision to life efficiently */
  grid-row-start: 7;
  grid-column-start: 2;
  width: 37vh;
  height: 108px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 165.2%;
  letter-spacing: 0%;
  text-align: left;
}

.outdoor {
  /* Outdoor design icon */
  grid-row-start: 6;
  grid-column-start: 3;
}

.design-3 {
  /* Outdoor Design */
  grid-row-start: 6;
  grid-column-start: 3;
  margin-left: 100px;
  width: 25%;
  height: 36px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 2em;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.seasons {
  /* Celebrate the changing seasons with our seasonal outdoor decor services */
  grid-row-start: 7;
  grid-column-start: 3;
  width: 36vh;
  height: 108px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 165.2%;
  letter-spacing: 0%;
  text-align: left;
}

.third-block {
  display: grid;
  grid-template-columns: 25% 15%;
  grid-template-rows: repeat(3, 55px);
  gap: 50px;
}

.dream {
  /* Image */
  width: 100%;
  height: 100%;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 3;
  object-fit: cover;
}

.designing-dream {
  /* Designing Your Dream With Brilliance */
  grid-row-start: 4;
  grid-column-start: 3;
  width: 70.4vh;
  height: 140px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.spaces {
  /* Elevate your spaces with bespoke interior designs that reflect your unique style and aspirations, crafted with precision and brilliance for an unforgettable living experience */
  grid-row-start: 4;
  grid-column-start: 3;
  margin-top: 190px;
  width: 72.2vh;
  height: 120px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 165.2%;
  letter-spacing: 0%;
  text-align: left;
}

.learn {
  grid-row-start: 6;
  grid-column-start: 3;
  margin-top: -120px;
  width: 27.5vh;
  height: 80px;
  border-radius: 4px;
  background: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.forth-block {
  display: grid;
  grid-template-columns: 10% 30%;
  grid-template-rows: repeat(6, 45px);
  column-gap: 10px;
  row-gap: 10px;
}

.steps {
  /* Designing Your Dream in Three Simple Steps */
  grid-row-start: 4;
  grid-column-start: 1;
  width: 70.4vh;
  height: 140px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 3.3em;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
}

.img {
  width: 72px;
  height: 72px;
}

.first {
  background-image: url(assets/svg/Group\ 25.svg);
  grid-row-start: 7;
  grid-column-start: 1;
}

.project {
  width: 18.6vh;
  height: 36px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 2em;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  white-space: nowrap;
}

.start {
  /* Start Project */
  grid-row-start: 7;
  grid-column-start: 1;
  margin-left: 140px;
}

.one {
  width: 56.9vh;
  height: 120px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 165.2%;
  letter-spacing: 0%;
  text-align: left;
}

.embark {
  /* Embark on your design adventure by initiating your project. Share your vision and set the stage for a bespoke design experience */
  grid-row-start: 7;
  grid-column-start: 1;
  margin-top: 70px;
  margin-left: 140px;
}

.second {
  background-image: url(assets/svg/Group\ 26.svg);
  grid-row-start: 12;
  grid-column-start: 1;
}

.craft {
  /* Craft */
  grid-row-start: 12;
  grid-column-start: 1;
  margin-left: 140px;
}

.collaborate {
  /* Collaborate closely to achieve design excellence refining your vision and crafting brilliance into every aspect of your space */
  grid-row-start: 12;
  grid-column-start: 1;
  margin-top: 70px;
  margin-left: 140px;
}

.third {
  background-image: url(assets/svg/Group\ 27.svg);
  grid-row-start: 16;
  grid-column-start: 1;
}

.execute {
  /* Execute */
  grid-row-start: 16;
  grid-column-start: 1;
  margin-left: 140px;
}

.witness {
  /* Witness your vision becoming a reality as we execute the design plan with precision. Celebrate the joy of your newly transformed space */
  grid-row-start: 16;
  grid-column-start: 1;
  margin-top: 70px;
  margin-left: 140px;
}

.designing-img {
  background-image: url(assets/img/Mask\ group\ 2.png);
  width: 69.5vh;
  height: 85vh;
  grid-row-start: 4;
  grid-column-start: 5;
  object-fit: cover;
}

.footer {
  display: grid;
  background-image: url(assets/img/Rectangle\ 69.png);
  position: absolute;
  width: 100%;
  height: 642px;
  margin-left: 10px;
  top: 4428px;
  background: rgb(31, 31, 31);
  object-fit: cover;
}

.subscribe {
  /* Subscribe to Our Newsletter for Design Insights */
  position: absolute;
  width: 85vh;
  height: 14vh;
  left: 60vh;
  top: -370px;
  color: rgb(31, 31, 31);
  font-family: Inter;
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
}

.discover-trends {
  /* Be the first to discover trends, inspirations, and special offers as we bring the world of design directly to your inbox */
  position: absolute;
  width: 77vh;
  height: 8vh;
  left: 65vh;
  top: -199px;
  color: rgb(84, 84, 84);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.adress {
  /* Rectangle 70 */
  position: absolute;
  width: 40%;
  height: 6.1vh;
  left: 60vh;
  top: -40px;
  border-radius: 4px;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
}

.email {
  /* Rectangle 1 */
  position: absolute;
  width: 10%;
  height: 5.4vh;
  left: 119.3vh;
  top: -36px;
  border-radius: 4px;
  background: rgb(31, 31, 31);
}

.logo-footer {
  position: absolute;
  width: 25%;
  height: 2.7vh;
  left: 1vh;
  top: 220px;
}

.vivadecor {
  /* VivaDecor your premier destination for luxury and modern interior design */
  position: absolute;
  width: 32vh;
  height: 9.9vh;
  left: 10.5vh;
  top: 306px;
  color: rgb(209, 209, 209);
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 150.67%;
  letter-spacing: 0%;
  text-align: left;
}

.service-0 {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 147px;
  padding-left: 66.4vh;
  padding-top: 80px;
}

.serv {
  width: 20%;
  height: 29px;
  left: 67.3vh;
  top: 208px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  white-space: nowrap;
}

.services-2 {
  display: grid;
  grid-template-columns: 22% 22% 15%;
  grid-template-rows: repeat(4, 55px);
  column-gap: 13vh;
  padding-left: 66vh;
  margin-top: -80px;
}

.our {
  color: rgb(209, 209, 209);
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
}
